/*
  Supongo que sabeis como se usa css
  si tienes esto importado con nombre estilo y le pones como className
  estilo.container, le peone el estilo de abajo.
*/
.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}